main {
    flex: 1;
}

#title{
    width: 100%;
    text-align: center;
}

#chips{
    padding:5px;
}

.page-container {
    padding-bottom: 50px;
    background-color: #F9FFFF;
}

.text-content{
    color: #0000008a;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 110%;
    margin-left:-5%;
    height: 50px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}