main {
    flex: 1;
}

#title{
    width: 100%;
    text-align: left;
}

#subtitle{
    font-weight: 500;
}

#quick-description{
    margin-top: 4px;
    font-size: small;
}

#chips{
    padding:5px;
}

.page-container {
    padding-bottom: 50px;
    background-color: #F9FFFF;
}

.text-content{
    color: #0000008a;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    background-color: white;
}