<div class="page-container">
    <main>
        <section>
            <carousel-image imageSrc="https://www.chateausully.fr/sites/chateau-sully/files/styles/media_xlarge/public/vue-chateau-sully-bis-1400x900.jpg" ></carousel-image>
        </section>
    
        <section class="container">
            <h1 id="title">Clos Jarjart</h1>
            <div id="subtitle">Logement : Gîte, 37340, Savigné-sur-Lathan</div>
            <div id="quick-description" class="mb-3">3 personnes - 1 Chambre - 1 canapé-lit - 1 Salle d'eau</div>
            <mat-divider></mat-divider>
        </section>
    
        <section class="container">
            <div class="text-content mb-3">
                <strong>Un cocon de charme au cœur de Savigné-sur-Lathan</strong><br />
                <br />
                Offrez-vous une escapade authentique en Indre-et-Loire dans ce gîte plein de charme, idéalement situé en plein centre de <b>Savigné-sur-Lathan</b>, un village paisible au cadre verdoyant. Avec ses <b>60 m²</b> d’espace de vie soigneusement aménagé, ce gîte allie confort moderne, atmosphère chaleureuse et ambiance cocooning, parfait pour une escapade en duo ou un séjour au calme.<br />
                <br />
                <b>Entièrement équipé</b>, le logement dispose de tout ce dont vous avez besoin pour vous sentir comme chez vous : cuisine fonctionnelle, salon cosy, chambre douillette et salle de bain moderne. Une parenthèse de tranquillité vous attend à chaque instant.<br />
                <br />
                <strong>À proximité immédiate de toutes commodités</strong><br />
                <br />
                Vous n’avez pas besoin de voiture pour profiter de votre séjour : <b>à seulement 10 minutes</b> à pied, vous trouverez un supermarché, une pharmacie, une boulangerie artisanale et d'autres commerces de proximité. Que ce soit pour flâner dans le bourg, déguster des produits locaux ou faire vos courses, tout est à portée de main.<br />
                <br />
                <strong>Une destination idéale entre détente et découvertes</strong><br />
                <br />
                Savigné-sur-Lathan est le point de départ idéal pour explorer les trésors de la région : <b>châteaux de la Loire</b>, randonnées bucoliques, vignobles, ou encore villages pittoresques. Après vos <b>balades</b>, retrouvez le calme et l’intimité de votre gîte, propice à la détente et au ressourcement.
                <br />
                Venez découvrir un véritable havre de paix en plein centre-ville !
            </div>
            <mat-divider></mat-divider>
        </section>

        <section class="container">
            <h3 id="title">Contenu du logement</h3>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>spa</mat-icon><div matListItemTitle>Jacuzzi <span class="color-primary">*</span></div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>space_dashboard</mat-icon><div matListItemTitle>Sauna <span class="color-primary">*</span></div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>wifi</mat-icon><div matListItemTitle>Wifi</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>tv</mat-icon><div matListItemTitle>TV</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>water_drop</mat-icon><div matListItemTitle>Lave vaisselle</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>styler</mat-icon><div matListItemTitle>Lave linge</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>width_full</mat-icon><div matListItemTitle>Séche-linge</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>outdoor_grill</mat-icon><div matListItemTitle>Barbecue</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>yard</mat-icon><div matListItemTitle>Jardinet</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>key</mat-icon><div matListItemTitle>Arrivées et départs autonomes</div>
                </mat-list-item>
                <mat-list-item>
                    <div matListItemTitle><span class="font-size-3"><span class="color-primary">*</span> en supplément pour 10€</span></div>
                </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>
        </section>

        <section class="container">
            <h3 id="title">Localisation</h3>
            <section>
                <a href="https://maps.app.goo.gl/23uzH7DVhXVzaUoV9">
                    <carousel-image imageSrc="/assets/location.png" ></carousel-image>
                </a>
            </section>
            <mat-divider></mat-divider>
        </section>
    </main>
</div>

<div class="fixed-footer">
    <mat-divider></mat-divider>
    <div class="left ml-2 mt-3 text-content text-left">
        <div class="underline"><strong>95 €</strong> par nuit</div>
        <div class="font-size-3">115 € avec Jacuzzi et Sauna</div>
    </div>
    <button mat-flat-button extended color="primary" class="right mr-2 mt-2" (click)="openContactDialog()">
        <mat-icon>event</mat-icon> Réserver
    </button>
</div>